*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face{
    src: url(../font/Coves\ Light.otf);
    font-family: "Coves";
}
@font-face{
    src: url(../font/Coves\ Bold.otf);
    font-family: "Coves Bold";
}
body{
    font: 62.5%;
}
.landing{
    background: linear-gradient(rgba(0, 0, 0, 0.096), rgba(0, 0, 0, 0.089)),url(../img/landing_page.jpg);
    width: auto;
    height: 650px;
    background-repeat: no-repeat;
    background-position: right;
    padding: 30px;

}
.nav_bar {
    overflow: hidden;
  }
.nav_bar a{
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.logo{
    border-radius: 20%;
    width: 100px;
    height: auto;
    margin-top: -20px;
    margin-left: -150px;
}
h3{
    float: left;
    font-size: 1.4em;
}
h3::first-letter{
    font-style: italic;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#img{
    width: 30px;
    height: auto;
}
.text{
    width: 420px;
    border-top: 2px solid #ca94c1;
    border-bottom: 2px solid #ca94c1;
    margin-top: 120px;
    border-bottom-width: 5px;
    border-top-width: 5px;
}
h1{
    margin: 10px 0px 30px 50px;
    font: bold 3.5em  "Coves Bold";
    text-transform: capitalize;

    
}
.btn{
    width: 130px;
    height: auto;
    margin: 0px 0px 20px 90px;
    padding: 10px;
    background: #ffaacc;
    opacity: 1;
    filter: alpha(100);
}
.btn:hover{
    opacity: 0.3;
    filter: alpha(30);
}
.action_figure{
    margin: 20px 30px 20px 80px;
    text-align: center;
}


figcaption{
	font: 1.1em "Arial, Helvetica, sans-serif";
	text-align: center;
	margin: 10px 0 0 0;
}
figure{
	float:left;
	width: 200px;
    margin: 0 10px 10px 10px;

}
figure {
	display: inline-block;
	vertical-align: top;
	width: 206px;
    margin: 10px 20px 20px 10px;
    background: #E7E7E7;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 3);
    transition: transform 200ms ;
    border:3px solid #c0bebe;


}
figure:hover{
    transform: scale(1.2);
    
}
p {
    font: 1em verdana, arial, helvetica, sans serif;
    
}
.copyright{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #666666;
    border-top: 1px none #999;
    clear: both;
    text-align: center;
}
.naruto{
    font: normal 2em "Coves";
    text-transform: capitalize;
    padding: 20px;
    margin-top: 50px;
    margin-left: 100px;
    width: 400px;
    border-top-width: 10px;
    border-bottom-width: 10px;

}
.onepiece{
    font: normal 2em "Coves";
    text-transform: capitalize;
    padding: 20px;
    margin-top: 700px;
    margin-left: 100px;
    width: 500px;
    border-top-width: 10px;
    border-bottom-width: 10px;

}
footer{
    margin-top: 700px;
    padding:20px ;
    text-align: center;
}
h4::first-letter{
    font: bold 2.5em  "Coves Bold";
}